<div class="container mt-3">
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6">
			<h2 class="fw-bold text-center">DAFTAR PELAJAR RANTAU PENERIMA ZAKAT MAL</h2>
		</div>
	</div>
	<% if (session?.user?.role=="staf") { %>
	<div class="row mt-4">
		<div class="col-md-2">
			<form id="formCluster" method="post" action="/clustering/pelajar-rantau">
				<button type="submit" class="btn btn-success">Clusterisasi Data</button>
			</form>
		</div>
		<div class="col md-2">
			<a href="/print?golongan=pelajar rantau">
				<button type="submit" class="btn btn-success">Print Report</button>
			</a>
		</div>
		<div class="col-md-2">
			<form action="/masyarakat/reset/all?_method=PUT" method="POST">
				<button type="button" class="btn btn-warning" onclick="confirmHandlerReset(this)">
					Reset Status
				</button>
				<input type="hidden" name="golongan" value="pelajar rantau" />
			</form>
		</div>
	</div>
	<% } %>
	<div class="row mt-4">
		<div class="col-md">
			<% if (msg.length !== 0) { %>
			<script>
				Swal.fire({
					icon: "success",
					title: "<%= msg %>",
					showConfirmButton: false,
					timer: 2000,
				});
			</script>
			<% } %>
			<table class="table table-striped text-center">
				<thead>
					<tr>
						<th scope="col">No</th>
						<th scope="col">NAMA</th>
						<th scope="col">GOLONGAN</th>
						<th scope="col">PERIODE</th>
						<th scope="col">STATUS</th>
						<th scope="col">KET</th>
					</tr>
				</thead>
				<tbody>
					<% masyarakat.forEach((orang,i) => { %>
					<tr>
						<th scope="row"><%= i+1 %></th>
						<td><%= orang.nama %></td>
						<td><%= orang.golongan %></td>
						<% if (orang.periode == "0") { %>
						<td>Belum menerima</td>
						<% } else {%>
						<td>ke-<%= orang.periode %></td>
						<% }%>
						<td><%= orang.status %></td>
						<td>
							<a href="/pelajar-rantau/<%= orang.NIK %>" class="btn btn-success badge">Detail</a>
						</td>
					</tr>
					<% }) %>
				</tbody>
			</table>
		</div>
	</div>
</div>

<script>
	function confirmHandlerReset(button) {
		const swalWithBootstrapButtons = Swal.mixin({
			customClass: {
				confirmButton: "btn btn-success",
				cancelButton: "btn btn-danger",
			},
			buttonsStyling: false,
		});

		swalWithBootstrapButtons
			.fire({
				title: "Apakah anda yakin?",
				text: `mereset semua status penerima?`,
				icon: "warning",
				showCancelButton: true,
				confirmButtonText: "Ya, reset!",
				cancelButtonText: "Batal!",
				reverseButtons: true,
			})
			.then((result) => {
				if (result.isConfirmed) {
					button.parentElement.submit();
					swalWithBootstrapButtons.fire("Reset!", `Status berhasil direset semua`, "success");
				} else if (
					/* Read more about handling dismissals below */
					result.dismiss === Swal.DismissReason.cancel
				) {
					swalWithBootstrapButtons.fire("Cancelled", `Status masih tersimpan`, "error");
				}
			});
	}
</script>
