<div class="container">
  <div class="d-flex justify-content-center">
    <div class="card mt-5" style="width: 18rem">
      <div class="card-body">
        <h5 class="card-title text-center">
          <%= masyarakat.nama.toUpperCase() %>
        </h5>
        <p class="card-subtitle mb-3 text-muted text-center">
          <%= masyarakat.golongan.toUpperCase() %>
        </p>
        <p class="card-text mb-1">No. KK: <%= masyarakat.no_KK %></p>
        <p class="card-text mb-1">NIK: <%= masyarakat.NIK %></p>
        <p class="card-text mb-1">
          Tempat Lahir: <%= masyarakat.tempat_lahir %>
        </p>
        <p class="card-text mb-1">
          Tanggal Lahir: <%= masyarakat.tanggal_lahir %>
        </p>
        <p class="card-text mb-1">
          Alamat: <%= gampong.dusun %>, <%= gampong.nama_gampong %>, <%=
          gampong.kecamatan %>
        </p>
        <p class="card-text mb-1">Waktu Input: <%= masyarakat.createdAt %></p>
        <p class="card-text mb-1">Waktu Update: <%= masyarakat.updatedAt %></p>
        <% if (session?.user?.role=="gampong") { %>

        <div class="row text-center mb-2">
          <div class="col">
            <a
              href="/masyarakat/edit/<%= masyarakat.NIK %>"
              class="btn btn-warning badge"
              >Edit
            </a>
          </div>
          <div class="col">
            <a
              href="/<%= masyarakat.golongan %>/edit/<%= masyarakat.NIK %>"
              class="btn btn-warning badge"
              >Edit Data Golongan</a
            >
          </div>
          <div class="col">
            <form
              action="/masyarakat/<%= masyarakat.NIK %>?_method=DELETE"
              id="formDelete"
              method="POST"
            >
              <button
                type="button"
                class="btn btn-danger badge"
                onclick="return confirmHandler(this, '<%= masyarakat.nama %>')"
              >
                Del
              </button>
            </form>
          </div>
        </div>
        <% } %>
        <a href="/masyarakat">&laquo; Kembali</a>
      </div>
    </div>
  </div>
</div>

<script>
  function confirmHandler(button, nama) {
    const swalWithBootstrapButtons = Swal.mixin({
      customClass: {
        confirmButton: "btn btn-success",
        cancelButton: "btn btn-danger",
      },
      buttonsStyling: false,
    });

    swalWithBootstrapButtons
      .fire({
        title: "Apakah anda yakin?",
        text: `menghapus data ${nama} ?`,
        icon: "warning",
        showCancelButton: true,
        confirmButtonText: "Ya, hapus!",
        cancelButtonText: "Batal!",
        reverseButtons: true,
      })
      .then((result) => {
        if (result.isConfirmed) {
          button.parentElement.submit();
          swalWithBootstrapButtons.fire(
            "Deleted!",
            `Data ${nama} berhasil dihapus`,
            "success"
          );
        } else if (
          /* Read more about handling dismissals below */
          result.dismiss === Swal.DismissReason.cancel
        ) {
          swalWithBootstrapButtons.fire(
            "Cancelled",
            `Data ${nama} masih tersimpan`,
            "error"
          );
        }
      });
  }
</script>
