<div class="container mt-3">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-6">
        <h2 class="fw-bold">DAFTAR STAF</h2>
      </div>
      <div class="col-md-2">
        <a href="/staf/tambah" class="btn btn-success">Tambah Staf</a>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md">
        <% if (msg.length !== 0) { %>
        <script>
          Swal.fire({
            icon: "success",
            title: "<%= msg %>",
            showConfirmButton: false,
            timer: 2000,
          });
        </script>
        <% } %>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">No</th>
              <th scope="col">NAMA</th>
              <th scope="col">NIK</th>
              <th scope="col">KETERANGAN</th>
            </tr>
          </thead>
          <tbody>
            <% stafs.forEach((staf,i) => { %>
            <tr>
              <th scope="row"><%= i+1 %></th>
              <td><%= staf.nama %></td>
              <td><%= staf.NIK %></td>
              <td>
                <a
                  href="/staf/<%= staf.NIK %>"
                  class="btn btn-success badge"
                  >Detail</a
                >
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  