<div class="container">
	<div class="d-flex justify-content-center">
		<div class="card mt-5" style="width: 18rem">
			<div class="card-body">
				<div class="row mb-2">
					<h5 class="card-title text-center"><%= staf.nama.toUpperCase() %></h5>
				</div>
				<p class="card-subtitle mb-3 text-muted text-center"><%= staf.NIK %></p>
				<p class="card-text mb-1">Alamat: <%= staf.alamat %></p>
				<p class="card-text mb-1">Email: <%= staf.email %></p>
				<p class="card-text mb-1">Password: <%= staf.password %></p>
				<p class="" card-text mb-1>
					Waktu Input: <%= staf.createdAt.toLocaleDateString("id") %>
				</p>
				<p class="" card-text mb-1>
					Waktu Update: <%= staf.updatedAt.toLocaleDateString("id") %>
				</p>
				<p class="" card-text mb-1>
					Didaftarkan oleh: Admin
				</p>
				<p class="" card-text mb-1>
					Diperbarui oleh: Admin
				</p>
				<% if (session?.user?.role=='admin' || session?.user?.role == "staf") { %>
				<div class="col">
					<a href="/staf/edit/<%= staf.NIK %>" class="btn btn-warning badge">Edit</a>
				</div>
				<% } %>
				<% if (session?.user?.role=='admin') { %>
					<div class="col">
						<form
						  action="/staf/<%= staf.NIK %>?_method=DELETE"
						  id="formDelete"
						  method="POST"
						>
						  <button
							type="button"
							class="btn btn-danger badge"
							onclick="return confirmHandler(this, '<%= staf.nama %>')"
						  >
							Del
						  </button>
						</form>
					  </div>
				<% } %>

				<div class="col mt-1">
					<a href="#" class="btn btn-secondary badge" onclick="goBack()">&laquo; Kembali</a>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	function goBack() {
		window.history.back();
	}

	function confirmHandler(button, nama_staf) {
		const swalWithBootstrapButtons = Swal.mixin({
			customClass: {
				confirmButton: "btn btn-success",
				cancelButton: "btn btn-danger",
			},
			buttonsStyling: false,
		});

		swalWithBootstrapButtons
			.fire({
				title: "Apakah anda yakin?",
				text: `menghapus data ${nama_staf} ?`,
				icon: "warning",
				showCancelButton: true,
				confirmButtonText: "Ya, hapus!",
				cancelButtonText: "Batal!",
				reverseButtons: true,
			})
			.then((result) => {
				if (result.isConfirmed) {
					button.parentElement.submit();
					swalWithBootstrapButtons.fire(
						"Deleted!",
						`Data ${nama_gampong} berhasil dihapus`,
						"success"
					);
				} else if (
					/* Read more about handling dismissals below */
					result.dismiss === Swal.DismissReason.cancel
				) {
					swalWithBootstrapButtons.fire(
						"Cancelled",
						`Data ${nama_gampong} masih tersimpan`,
						"error"
					);
				}
			});
	}
</script>
