<div class="container mt-3">
  <div class="row center">
    <div class="col-md-3">
      <a href="/masyarakat/<%= fakir.NIK %>" class="btn btn-success badge"
        >&laquo; Kembali</a
      >
    </div>
    <div class="col-md-6 text-center">
      <h2 class="fw-bold">UPDATE DATA PENERIMA ZAQAT FAKIR</h2>
    </div>
  </div>
  <% if (typeof errors != 'undefined') { %> <% errors.forEach(error => { %>
  <div class="alert alert-danger" role="alert">
    <ul>
      <li><%= error %></li>
      <% }) %>
    </ul>
    <% } %>
  </div>
  <div class="row mt-3">
    <div class="col-md-6">
      <form
        method="post"
        id="formUbah"
        action="/fakir/<%= fakir.id_fakir %>?_method=PUT"
        enctype="multipart/form-data"
      >
        <input type="hidden" name="NIK" value="<%= fakir.NIK %>" />

        <div class="mb-3">
          <label for="NIK" class="form-label">NIK</label>
          <input
            type="text"
            class="form-control"
            id="NIK"
            name="NIK"
            value="<%= fakir.NIK %>"
            disabled
          />
        </div>
        
        <div class="mb-3">
          <label for="umur" class="form-label">Umur</label>
          <input
            type="text"
            class="form-control"
            id="umur"
            name="umur"
            value="<%= fakir.umur %>"
          />
        </div>

        <div class="mb-3">
          <label for="pekerjaan" class="form-label">Pekerjaan</label>
          <select
            name="pekerjaan"
            class="form-select"
            aria-label="Default select example"
          >
            <option selected>Pilih Pekerjaan</option>
            <option value="1">Tidak Bekerja</option>
            <option value="2">Petani/Nelayan/Ternak/Buruh</option>
            <option value="3">Pedagang</option>
            <option value="4">Pegawai Kontrak</option>
          </select>
        </div>

        <div class="mb-3">
          <label for="pendapatan" class="form-label">Pendapatan perBulan</label>
          <select
            name="pendapatan"
            class="form-select"
            aria-label="Default select example"
          >
            <option selected>Pilih Pendapatan</option>
            <option value="1">Tidak Ada</option>
            <option value="2">< Rp100.000</option>
            <option value="3">Rp100.000 - Rp250.000</option>
            <option value="4">Rp251.000 - Rp500.000</option>
            <option value="4">> Rp500.000</option>
          </select>
        </div>

        <div class="mb-3">
          <label for="beban_tanggungan" class="form-label"
            >Beban Tanggungan</label
          >
          <select
            name="beban_tanggungan"
            class="form-select"
            aria-label="Default select example"
          >
            <option selected>Pilih Beban Tanggungan</option>
            <option value="1">Disabilitas dan Janda</option>
            <option value="2">Disabilitas</option>
            <option value="2">Janda</option>
            <option value="3">Tidak ada</option>
          </select>
        </div>

        <!-- <label for="surat_domisili" class="form-label mb-2"
          >KTP / Surat Domisili</label
        >
        <div class="card mb-3">
          <div class="card-body">
            <div class="mb-1">
              <input
                type="file"
                class="form-control-file"
                id="surat_domisili"
                name="surat_domisili"
                required
              />
            </div>
          </div>
        </div>

        <label for="surat_golongan" class="form-label mb-2"
          >Surat Keterangan Fakir (Meunyoe na)</label
        >
        <div class="card mb-4">
          <div class="card-body">
            <div class="mb-1">
              <input
                type="file"
                class="form-control-file"
                id="surat_golongan"
                name="surat_golongan"
              />
            </div>
          </div>
        </div> -->

        <!-- 
        <input
          type="hidden"
          name="bobot_domisili"
          value="<%= fakir.bobot_domisili %>"
        />
        <input
          type="hidden"
          name="bobot_golongan"
          value="<%= fakir.bobot_golongan %>"
        /> -->

        <button type="submit" class="btn btn-success mb-5">Simpan</button>
      </form>
    </div>
  </div>
</div>
